*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    height: 100%;

}
#small {
    box-sizing: border-box;
    width: 25%;
    height: 160vh;
    background-color: #3d4f5d;
    padding-top: 200px;
    padding-right: 30px;
    text-align: right;
    display: inline-block;
    float: left;
    
}
#small h1{
    color: white;
}
#small p{
    color: #a5b4b8;
    margin-bottom: 10px;
}

#small button{
    background-color: #3d4f5d;
    border-color: #a5b4b8;
    border-style: solid;
    color: #7f7771;
    padding: 10px;
}

#big{
    box-sizing: border-box;
    width: 75%;
    height: 100vh;
    padding-left: 30px;
    display: inline-blocks;
    float: left;

}

#big article{
    width: 100%;
    margin-top: 50px;
   
}

hr{
    color: rgba(220,220,220,0.2);
    margin-bottom: 40px;
}
article h2{
    padding-bottom: 10px
}
article p#description{
    margin-top: 20px;
    line-height: 30px;
    
}
article p a{
    text-decoration: none;
}


article p span{
    display: inline-block;
    color: white;
    margin: 0px 5px;
    padding: 0px 15px;
}
.green{
    background-color: green;
    
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.gray{
    background-color: gray;
}

article #avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

article img{
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
    margin-right: 3%;
    margin-top: 20px;
}

h4{
    color: lightgray;
    text-transform: uppercase;
}

.wrapper{
    width: 100%;

}
.lefty{
    float: left;
    width: 90%;

}
.righty{
    margin-bottom: 20px;
    float: left;
    width: 10%;
    text-align: right;
}
article #avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}